div, button {
  margin: 0;
}



.wrapper {
  min-height: 100vh;

  
}

#Record{
  animation: recorder 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes recorder{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}


#HeadPhones{
  animation: hphones 1s infinite linear alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hphones{
  from{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);

  }
  to{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}

.Player {
  position: relative 500px;
}

.Iconbuttons {
  transition-duration: 0.4s;
}

.Iconbuttons:hover {
  text-shadow: black; opacity: 50%;
  border-radius: 100px
}